if SHIELD_CIRRUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Cirrus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CIRRUS_LEFT || SHIELD_CIRRUS_RIGHT

config ZMK_SPLIT
    default y

endif
